:root {
    --bg-logo: #221f20;
    --bg-nav: #f2f2f2;
    --primary: #1EAEFF;
}

#header-logo {
    background-color: var(--bg-logo);
}

#footer-socials .bi {
    font-size: 1.5rem;
    padding-left: 15px;
}

.opaque-bg {
    background-color: rgba(255, 255, 255, 0.8);
}

#home-primary-section {
    background-image: url(../assets/placeholderSquare.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

#home-academy-section {
    background-image: url(../assets/placeholderSquare.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

#article-img {
    border-radius: 10em;
}



/* academy-experience.html sliding text CSS*/

/*.ms-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right bottom, #9dd7d5, #fea096);
}*/
.ms-header__title {
    /* flex: 1 1 100%; */
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    /* color: #fff; */
    /* text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4); */
}
.ms-slider-color1 {
    color: #FBBB21;
}
.ms-slider-color2 {
    color: #61BB47;
}
.ms-slider-color3 {
    color: #009EDB;
}
.ms-slider {
    display: inline-block;
    height: 1.5em;
    overflow: hidden;
    vertical-align: middle;
}
.ms-slider__words {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-animation-name: wordSlider;
            animation-name: wordSlider;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 7s;
            animation-duration: 7s;
}
.ms-slider__word {
    display: block;
    line-height: 1.3em;
    text-align: left;
}
  
@-webkit-keyframes wordSlider {
    0%, 27% {
      transform: translateY(0%);
    }
    33%, 60% {
      transform: translateY(-25%);
    }
    66%, 93% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(-75%);
    }
}
  
@keyframes wordSlider {
    0%, 27% {
      transform: translateY(0%);
    }
    33%, 60% {
      transform: translateY(-25%);
    }
    66%, 93% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(-75%);
    }
}