:root {
    --bg-logo: #221f20;
    --bg-nav: #f2f2f2;
    --primary: #1EAEFF;
}

#header-logo {
    background-color: var(--bg-logo);
}

#footer-socials .bi {
    font-size: 1.5rem;
    padding-left: 15px;
}